<div class= "container">

<div id= "ask">
  <p> <%= @answer  %> </p>
  <p> <i> - You </i></p>
</div>

<div id= "coach">
  <p> <strong> <%= @coach  %>  </strong></p>
  <p> <i> - Your coach </i> </p>
</div>


</div>
