<form action="/answer" method= "get">
  <input type="text" name="question">
  <input type="submit" value="Ask the coach!">
</form>


<%# The controller will need to read the question from params
and compute an instance variable @answer for the view to display. %>
