<div class= "container">

  <h3 id= "subtitle"> Ask something to your coach</h3>

  <form action="/answer" method= "get">
      <div class="input-group mb-3" class="col align-self-center">
        <input type="text" name="question" class="form-control">
          <div class="input-group-append">
            <input type="submit" class="btn btn-primary" value="Ask">
          </div>
      </div>
  </form>

</div>


<%# The controller will need to read the question from params
and compute an instance variable @answer for the view to display. %>
